<%- include('partials/header'); -%>
<h1><%=tituloPublicacao%></h1>
<p><%=textoPublicacao%></p>
<form method="get" action="/">
    <button type="submit" class="btn btn-primary">Voltar</button>
</form>
<%- include('partials/footer'); -%>